ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 540px;
  background: #159cb0 url('../img/fundo-horizontal.png') repeat-x;
  float: left;
  border: 1px solid #000;
}

ul li {
  float: left;
}

ul a {
  display: block;
  padding: 0 2em;
  line-height: 2em;
  text-decoration: none;
  color: #fff;
  background: url('../img/divisor.png') repeat-y left top;
}

ul .primeiro a {
  background: none;
}

ul a:hover,
#home #nav-horizontal .home a,
#about #nav-horizontal .about a,
#services #nav-horizontal .services a,
#news #nav-horizontal .news a,
#contact #nav-horizontal .contact a {
  color: #085662;
  background: #44cade;
}